*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-rosa{
    background-color: #FF4D80;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}

.icon-amarillo{
    color: #FFD966;
}

.button-amarillo{
    background-color: #FFD966;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}
