*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */

    background-color: rgb(255, 231, 199);
    height: 600px;
    width: 100%;
}

.contenedor h1{
    font-size: 150px;
}

